
body, html { 
	/*background-color: #111111;
	 for templates with pattern backgrounds use background url to point to pattern img */
	background: url(http://www.xoedge.com/uw/templates/blossom/blossom_bgYellow.gif) repeat scroll center top;
	height: 100%;
	margin: 0;
	padding: 0;
}

#container {
	background-color: #E9F7F6; /*** if diff  background color needed in content area change color here ****/
	margin: 0 auto 0 auto;
	padding: 0px;
	min-height: 100%;	/* to keep footer on bottom*/
	width: 80%;
	position: relative;	/* must be relative or .footer will cover content*/

}

#inner_container {
	background: url(http://www.xoedge.com/uw/templates/blossom/blossom_blue_headerImg.gif) no-repeat left top; 
	height: 118px;
}

#content {
	background:transparent url(http://www.xoedge.com/uw/templates/blossom/blossom_blue_bgNav.gif) no-repeat scroll left bottom;
	padding:0.6em 0.4em 2.6em 0.4em;	/* MUST have padding on the bottom => .footer, or .footer will cover content  (the em mulitiplier 1.5 makes it bigger) */
	min-height: 46em;
}
/* powered by WC */

#poweredbytop {
    display: none;
}

/* book mark share*/
#bookmark_share, .addthis, .addthis:hover {
	color: #a29061;
}

#navLeft .bookendtop {
	display: none;
}

#navLeft .bookendbottom {
	display: none;	
}

#navLeft h2 a, #navLeft h2 a:visited {
	color: #d5a715;
}

#navLeft h2 a:hover {
	font-weight: bold;
}

#navLeft a, #navLeft a:visited {
	color: #69554a;
}

#navLeft {
	float: left;
	width: 14em;
}

#rightContent {

top: 0;
	height: 100%
	margin-left: 12em;
}

#content{
padding-bottom: 2.2em;

}
#bottomFooter {
	position: absolute;
	bottom: 0px;
	height: 2em;
}

#header h1 {
	color: #5f4a3e;
}

#coupleTitle p{
	color: #111111;
}
#text_date {
	color: #674e3f;
}


.contentText { /*change color if text should be other than black */
	color: #4b3427 !important;
}


#text_date .divider {
   background: transparent url(http://www.xoedge.com/uw/templates/blossom/blossom_blue_divider.gif) no-repeat scroll left top;
}

.richText a:link, .richText a:visited {
	color: #69554a;
}

.contentText a:link, .contentText a:visited {
	color: #d5a715;
}

#main_content h3 {
	color: #d5a715;
}

.viewmap {  
    background-color: #d5a715;
}

a.viewmap {  
    color: #ffffff !important;
    text-decoration: none;
}

/* Registries & RSVP */

#RegistryList ul {
	border-bottom: 1px solid #ffffff;
}
#RegistryList ul a {
	color: #4B3427;
}
#RegistryList ul li {
	border-top: 1px solid #ffffff;
}
#formNoMatch {
	border-top: 1px solid #ffffff;
}
.borderGeneric{border-top: 1px solid #ffffff;}
.separator{background-image:url(http://www.xoedge.com/uw/templates/bg_dotted_rule_gray.gif);}



