
body, html { 
	/*background-color: #111111;
	 for templates with pattern backgrounds use background url to point to pattern img */
	background: url(http://www.xoedge.com/uw/templates/blossom/blossom_bgYellow.gif) repeat scroll center top;
	padding-top:0.5em;
	padding-bottom:0.5em;
	padding-right:5em;
	padding-left:5em;
}

#container {
	background-color: #E9F7F6; /*** if diff  background color needed in content area change color here ****/
}

#inner_container {
	background: url(http://www.xoedge.com/uw/templates/blossom/blossom_blue_headerImg.gif) no-repeat left top; 
	height: 118px;
}

#content {
	background:transparent url(http://www.xoedge.com/uw/templates/blossom/blossom_blue_bgNav.gif) no-repeat scroll left bottom;
	min-height: 50em;
}

/* powered by WC */
#poweredbytop {
    display: none;
}

/* book mark share*/
#bookmark_share, .addthis, .addthis:hover {
	color: #a29061;
}

#navLeft {
	float: left;
	width: 13em;
}

#rightContent {
	float:left;
	margin-left:1em;
}



#header h1 {
	color: #5f4a3e;
}

#text_date {
	color: #674e3f;
}


.contentText { /*change color if text should be other than black */
	color: #4b3427 !important;
}


#text_date .divider {
   background: transparent url(http://www.xoedge.com/uw/templates/blossom/blossom_blue_divider.gif) no-repeat scroll left top;
}

.richText a:link, .richText a:visited {
	color: #69554a;
}

.contentText a:link, .contentText a:visited {
	color: #d5a715;
}

#main_content h3 {
	color: #d5a715;
}

.viewmap {  
    background-color: #d5a715;
}

a.viewmap {  
    color: #ffffff !important;
    text-decoration: none;
}

/* Registries & RSVP */

#RegistryList ul {
	border-bottom: 1px solid #ffffff;
}
#RegistryList ul a {
	color: #4B3427;
}
#RegistryList ul li {
	border-top: 1px solid #ffffff;
}
#formNoMatch {
	border-top: 1px solid #ffffff;
}
.borderGeneric{border-top: 1px solid #ffffff;}
.separator{background-image:url(http://www.xoedge.com/uw/templates/bg_dotted_rule_gray.gif);}
